In [1]:
from datetime import datetime as dt

In [2]:
# Create a datetime by passing into dt the year, month, day, hour, minute, second to give us a datetime object. 

d = dt(2022,6,14,18,37,11)
d

datetime.datetime(2022, 6, 14, 18, 37, 11)

In [3]:
str(d)

'2022-06-14 18:37:11'

In [4]:
# Create two dates and then subtracted one from the other. 
# What we get back is a timedelta object and converting it to a string we can see that 
# it represents the days and time from the date subtraction.

d1 = dt(2022,6,14)
d1

datetime.datetime(2022, 6, 14, 0, 0)

In [5]:
d2 = dt(1984,1,18)
d2

datetime.datetime(1984, 1, 18, 0, 0)

In [6]:
d1 - d2

datetime.timedelta(days=14027)

In [7]:
str(d1 - d2)

'14027 days, 0:00:00'

In [8]:
# Understanding timedelta.
# timedelta behaves a little different from datetime in that we do not pass in years and months 
# but instead days, hours, minutes, and seconds.

from datetime import timedelta as td

In [9]:
td(days=1, hours=2, minutes=10)

datetime.timedelta(days=1, seconds=7800)

In [10]:
change = td(days=1, hours=2, minutes=10)

In [11]:
d1 = dt(2022,6,14,19,29)

In [12]:
d1 - change

datetime.datetime(2022, 6, 13, 17, 19)

In [13]:
# subtract timedelta from the datetime and it returns the datetime with the period in the timedelta subtracted from it.

str(d1 - change)

'2022-06-13 17:19:00'

In [14]:
from datetime import date as d

In [15]:
d.today()

datetime.date(2022, 6, 14)

In [16]:
# To get the current date, we can use the method 'today' to show the current date.

str(d.today())

'2022-06-14'

In [17]:
import datetime as dt

now_date = dt.datetime.now()
now_date

datetime.datetime(2022, 6, 14, 20, 1, 3, 322059)

In [18]:
# First let us consider a date in time and how we can calculate how long ago it was. 
# The date that we will use is the 20 July 1969 which is the date that Neil Armstrong stepped on the moon.

moon_date = dt.datetime(1969, 7, 20)
moon_date

datetime.datetime(1969, 7, 20, 0, 0)

In [19]:
date_since_moon = now_date - moon_date
date_since_moon

datetime.timedelta(days=19322, seconds=72063, microseconds=322059)

In [20]:
date_since_moon.days

19322

In [21]:
date_since_moon.seconds

72063

In [22]:
str(date_since_moon)

'19322 days, 20:01:03.322059'

In [23]:
# To look at how far in the future a date is so we look at the date 2030-01-01 relative to now (at the time of print).

import datetime as dt

now_date = dt.datetime.now()
now_date

datetime.datetime(2022, 6, 14, 20, 1, 50, 121297)

In [24]:
future_date = dt.datetime(2030, 1, 1)
future_date

datetime.datetime(2030, 1, 1, 0, 0)

In [25]:
distance = future_date - now_date
distance

datetime.timedelta(days=2757, seconds=14289, microseconds=878703)

In [26]:
str(distance)

'2757 days, 3:58:09.878703'

In [27]:
distance.days

2757