In [1]:
# Lists are the first of the storage types we consider from core Python, the others being Tuples, Dictionaries, and Sets. 
# Fundamentally lists allow us to store things, let’s say we want to have a variable containing the numbers 1–10, 
# we can store them in a list as follows:

numbers = [1,2,3,4,5,6,7,8,9,10]
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
# What we have here is a list of integers, we could do the same with a list of strings.

numbers = ["1","2","3","4","5","6","7","8","9","10"]
numbers

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [3]:
type(numbers)

list

In [4]:
dir(numbers)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [5]:
# The beauty with lists is that we could have a mixture of things in it.

stuff = ["longing","rusted","furnace","daybreak",17,"Benign",9]
stuff

['longing', 'rusted', 'furnace', 'daybreak', 17, 'Benign', 9]

In [6]:
x = "longing"
y = 17
stuff = [x,"rusted","furnace","daybreak",y,"Benign",9]
stuff

['longing', 'rusted', 'furnace', 'daybreak', 17, 'Benign', 9]

In [7]:
first_name = ["Steve", "Peter", "Tony", "Natasha"]
last_name = ["Rodgers", "Parker", "Stark", "Romanoff"]

names = [first_name,last_name]
names

[['Steve', 'Peter', 'Tony', 'Natasha'],
 ['Rodgers', 'Parker', 'Stark', 'Romanoff']]

In [8]:
stuff

['longing', 'rusted', 'furnace', 'daybreak', 17, 'Benign', 9]

In [9]:
stuff[0]

'longing'

In [10]:
stuff[4]

17

In [11]:
stuff.pop()

9

In [12]:
# Note that what you return from the pop is the value you are popping, you do not need to
# assign this back to the list you have changed your list permanently by doing this.

stuff

['longing', 'rusted', 'furnace', 'daybreak', 17, 'Benign']

In [13]:
# append allows us to add an element to the end of the list.

stuff.append(9)

In [14]:
stuff

['longing', 'rusted', 'furnace', 'daybreak', 17, 'Benign', 9]

In [15]:
# Other way to remove items from a list by using the attribute remove.

stuff

['longing', 'rusted', 'furnace', 'daybreak', 17, 'Benign', 9]

In [16]:
# This could work on any element of the list, we would just need to specify the name of the item we wanted to remove.

stuff.remove(9)

In [17]:
stuff

['longing', 'rusted', 'furnace', 'daybreak', 17, 'Benign']

In [18]:
# It is worth noting that remove does not remove all instances, only the initial instance of that value within the list.

stuff = ["longing","rusted","furnace","daybreak",17,"Benign",9,9,9]
stuff.remove(9)
stuff

['longing', 'rusted', 'furnace', 'daybreak', 17, 'Benign', 9, 9]

In [19]:
# We will show how to use count, here we pass in something we want to get the count of in the list.

count_list = [1,1,1,2,3,4,4,5,6,9,9,9]
count_list.count(1)

3

In [20]:
count_list.count(4)

2

In [21]:
# Reverse the list

count_list.reverse()
count_list

[9, 9, 9, 6, 5, 4, 4, 3, 2, 1, 1, 1]

In [22]:
# Sort the list

count_list.sort()
count_list

[1, 1, 1, 2, 3, 4, 4, 5, 6, 9, 9, 9]

In [23]:
# But it is not possible to sort mixed list.

stuff.sort()
stuff

# What happened here is Python doesn’t know how to support sorting integers and strings,
# so we can only use the sort method on a list of numeric values.

TypeError: '<' not supported between instances of 'int' and 'str'

In [24]:
stuff

['daybreak', 'furnace', 'longing', 'rusted', 17, 'Benign', 9, 9]

In [25]:
len(stuff)

8

In [26]:
# We used negative indexing to choose the last and third last item 
# and showed how we could get the first element using negative indexing.

stuff[-1]

9

In [27]:
stuff[-3]

'Benign'

In [28]:
stuff[-len(stuff)]

'daybreak'

In [29]:
x = stuff[1]
y = stuff[2]

new_stuff = [x,y]
new_stuff

['furnace', 'longing']

In [30]:
# Take from the element in index 1 in the list (which is the second element as we are 0 indexed) 
# and show up to but not including element in index 3 in the list.

stuff[1:3]

['furnace', 'longing']

In [31]:
stuff[1:]

['furnace', 'longing', 'rusted', 17, 'Benign', 9, 9]

In [32]:
stuff

['daybreak', 'furnace', 'longing', 'rusted', 17, 'Benign', 9, 9]

In [33]:
# Note we have shown the list after taking what we wanted and it shows the full list. 
# This is because splicing the list (which is what we are doing) doesn’t change the list it just returns the splice of our list. 
# So if we want to use the splice we need to assign it to a variable as follows:

new_stuff = stuff[1:]
new_stuff

['furnace', 'longing', 'rusted', 17, 'Benign', 9, 9]

In [34]:
# Splicing works using negative indexing as well. 
# If we run the above code using −1 instead of 1 we get the following:

stuff[-1:]

# What we are doing here is staying we want everything from the −1 index to the end of the list.

[9]

In [35]:
# Splicing works if we have the index after the colon.

new_stuff = stuff[:-1]
new_stuff

['daybreak', 'furnace', 'longing', 'rusted', 17, 'Benign', 9]

In [36]:
# Let’s say we now want to select every second element of the list then we would have to run the following:

stuff

['daybreak', 'furnace', 'longing', 'rusted', 17, 'Benign', 9, 9]

In [37]:
# We are selecting everything between index 1 and 7 incrementing the index by 2 starting at the first position.

stuff[1:8:2]

['furnace', 'rusted', 'Benign', 9]

In [38]:
# We are selecting everything between index 1 and 6 incrementing the index by 2 starting at the first position.

stuff[1:7:2]

['furnace', 'rusted', 'Benign']

In [39]:
# The next thing we consider is how to join lists together. 
# We have covered concatenation earlier with strings and its very much the same for lists.

stuff

['daybreak', 'furnace', 'longing', 'rusted', 17, 'Benign', 9, 9]

In [40]:
count_list

[1, 1, 1, 2, 3, 4, 4, 5, 6, 9, 9, 9]

In [41]:
# By using the addition symbol we can concatenate two or more lists together in the same way we would a string.

stuff + count_list

['daybreak',
 'furnace',
 'longing',
 'rusted',
 17,
 'Benign',
 9,
 9,
 1,
 1,
 1,
 2,
 3,
 4,
 4,
 5,
 6,
 9,
 9,
 9]

In [42]:
# If we want to check if an element is in a list we can easily do so by using the Python expression in argument.

9 in stuff

True

In [43]:
9 not in stuff

False

In [44]:
# Let’s now consider the copy method. To demonstrate this we will create a list and then assign it to a new list.

stuff

['daybreak', 'furnace', 'longing', 'rusted', 17, 'Benign', 9, 9]

In [45]:
new_stuff

['daybreak', 'furnace', 'longing', 'rusted', 17, 'Benign', 9]

In [46]:
new_stuff = stuff
new_stuff

['daybreak', 'furnace', 'longing', 'rusted', 17, 'Benign', 9, 9]

In [47]:
stuff.append(21)
stuff

['daybreak', 'furnace', 'longing', 'rusted', 17, 'Benign', 9, 9, 21]

In [48]:
new_stuff

['daybreak', 'furnace', 'longing', 'rusted', 17, 'Benign', 9, 9, 21]

In [49]:
# Anything we do to stuff is reflected in new_stuff.
# If we do not want to do this and want to take a copy of the list where they are independent then we use the 'copy' method.

stuff

['daybreak', 'furnace', 'longing', 'rusted', 17, 'Benign', 9, 9, 21]

In [50]:
new_stuff = stuff.copy()
new_stuff

['daybreak', 'furnace', 'longing', 'rusted', 17, 'Benign', 9, 9, 21]

In [51]:
stuff.append(22)
stuff

['daybreak', 'furnace', 'longing', 'rusted', 17, 'Benign', 9, 9, 21, 22]

In [52]:
new_stuff

['daybreak', 'furnace', 'longing', 'rusted', 17, 'Benign', 9, 9, 21]

In [53]:
# 'clear' method - simply put this method clears the list of all its content.

new_stuff.clear()
new_stuff

[]

In [54]:
# Range object.

x = range(7)
x

range(0, 7)

In [55]:
type(x)

range

In [56]:
dir(x)

['__bool__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index',
 'start',
 'step',
 'stop']

In [57]:
0 in x

True

In [58]:
7 in x

False

In [59]:
x = range(4,7)
x

range(4, 7)

In [60]:
# [1, 3, 5]

x = range(1,7,2)
x

range(1, 7, 2)

In [61]:
3 in x

True

In [62]:
4 in x

False

In [63]:
7 in x

False

In [64]:
x[0]

1

In [65]:
x[1]

3

In [66]:
x[2]

5

In [67]:
x[3]

IndexError: range object index out of range

In [68]:
# Splice up range.

x = range(7)
x

range(0, 7)

In [69]:
x[1:]

range(1, 7)

In [70]:
x[:-1]

range(0, 6)

In [71]:
x[:-1][-1]

5

In [72]:
x[3]

3

In [73]:
x[:4:2]

range(0, 4, 2)

In [74]:
# With a list, we don’t have the variety of methods associated with it but we can
# obtain the start, stop and step of the range object alongside the count and index.

x = range(7)
x = x[1:]
x

range(1, 7)

In [75]:
x.start

1

In [76]:
x.step

1

In [77]:
x.stop

7

In [78]:
x.index(0)

ValueError: 0 is not in range

In [79]:
x.index(1)

0

In [80]:
x.index(2)

1

In [81]:
x.index(4)

3

In [82]:
x.count(6)

1

In [83]:
x.count(8)

0

In [84]:
x = range(7)
x = x[1:5:2]
x

range(1, 5, 2)

In [85]:
x.start

1

In [86]:
x.stop

5

In [87]:
x.step

2

In [88]:
x.index(0)

ValueError: 0 is not in range

In [89]:
x.index(1)

0

In [90]:
# x.stop is 5, means 5 is not included.

x.index(5)

ValueError: 5 is not in range

In [91]:
x.count(3)

1