In [ ]:
name = "Rob"
name

In [ ]:
name = """Rob"""
name

In [ ]:
name = '''Rob'''
name

In [ ]:
# If you put a single quote in a string separated by single quotes you get the following:

single_quote_string = 'string with a ' single quote'

In [ ]:
# To include a single quote in a string separated by single quotes you need to use an escape sequence. 
# An escape sequence is basically the character with a backslash before it, so if
# we write the previous string with an escape sequence it looks like the following:

single_quote_string = 'string with a \' single quote'
single_quote_string

In [ ]:
# You might say why use single quotes around a string with single quotes and you would
# be right, we could write the previous example as follows with double quotes:

single_quote_string = "string with a ' single quote"
single_quote_string

In [ ]:
single_quote_string = """string with a ' single quote"""
single_quote_string

In [ ]:
# The same would hold for a double quote, however if we have the double quote at the end of the string we encounter a problem.

double_quote_string = """string with a double quote at the end""""
double_quote_string

In [ ]:
# To get around this problem you would need to use an escape sequence on the double quote as shown below:

double_quote_string = "string with a double quote at the end \""
double_quote_string

In [ ]:
# Another benefit to triple quoted strings is that you can write strings over multiple lines.

on_two_lines = "A quote on
                          two lines"

# If we were to try this with single quotation then we end up with the following:

In [ ]:
# Triple quoted string.

on_two_lines = """A quote on
                            two lines"""
on_two_lines

# The string contains the line return denoted by backlash n and tabs denoted by backslash t.

In [ ]:
# Typing backslash n gives us a carriage return in our string. 
# But what if we want forward slash n in our string, we can use what is called a raw string.

raw_string = r"This has a \n in it"
raw_string

In [ ]:
print(raw_string)

In [ ]:
not_raw_string = "This has a \n in it"
not_raw_string

In [ ]:
print(not_raw_string)

In [ ]:
not_raw_string = "This has a \\n in it"
not_raw_string

In [ ]:
print(not_raw_string)

In [ ]:
not_raw_string = "This has a \\\n in it"
not_raw_string

In [ ]:
print(not_raw_string)

In [ ]:
# So given you have a string what can you do with it? 
# You can access it in much the same way as you did when we covered lists earlier on. 
# So if we want the 3rd element of a string we do so as follows:

name = "Rob Mastrodomenico"
name[2]

In [ ]:
name[4:8]

In [ ]:
# We can also work backwards and get the last three elements.

name[-3:]

In [ ]:
# Or we can get everything but the last three elements.

name[:-3]

In [ ]:
# We can apply much of the logic shown earlier to strings. 
# So if we want to know if a string contains a character or combination 
# of characters we can do so by seeing if the characters are in the string.

"ico" in name

In [ ]:
"z" in name

In [ ]:
# String formatting: if we want to put a variable into our string we need only define the position 
# in the string using curly brackets and then using the format method with the arguments passed in 
# they get assigned to the appropriate positions.

first_name = "Rob"
last_name = "Mastrodomenico"
name = "First Name: {}, Last Name: {}".format(first_name, last_name)
name

# In this example, it doesn’t seem to have any benefit as we could have easily define the whole string as we did before. 
# However, consider the case where the names are changing.
# We could be looping over a list of names or a file or names and at each iteration of the loop we want to show what the name is.

In [ ]:
# We can also give the positions in the curly brackets to where we want the variables assigned, so we could write the following:

name = "First Name: {1}, Last Name: {0}".format(first_name, last_name)
name

# That is wrong but you get the point.

In [ ]:
name = "First Name: {0}, Last Name: {1}".format(first_name, last_name)
name

In [ ]:
# We can also define each value as a variable and pass that variable name in the curly brackets.

name = "First Name: {f}, Last Name: {l}".format(f=first_name, l=last_name)
name

In [ ]:
# The first string method we will consider is how to convert a string to all uppercase letters and then all lowercase letters.

name = "Rob Mastrodomenico"
name

In [ ]:
name.upper()

In [ ]:
name.lower()

In [ ]:
name

In [ ]:
# We see using the lower and upper methods we create versions of the initial string in uppercase and lowercase.
# However we don’t change the string itself. 
# Why is this useful? 
# You may want to check if certain characters in a string and may want to do it 
# in a specific case so by changing the string to the correct case you can.
# Next, we consider the split method which unsurprisingly can be used to split up strings.

name

In [ ]:
dir(name)

In [ ]:
name.split(" ")

In [ ]:
name = "Rob,Mastrodomenico"
name

In [ ]:
name.split(",")

In [ ]:
first_name, last_name = name.split(",")

In [ ]:
first_name

In [ ]:
last_name

In [ ]:
# Again while this example may seem trivial but it can be very useful as you can split on
# any character within a string so, for example, a comma separated string which you may find
# in a csv file can be split into the variables it contains:

match_details = "Man United,Arsenal,2,0"
match_details

In [ ]:
match_details.split(",")

In [ ]:
home_team, away_team = match_details.split(",")[0:2]

In [ ]:
home_team

In [ ]:
away_team

In [ ]:
home_goals = match_details.split(",")[2]
home_goals

In [ ]:
away_goals = match_details.split(",")[3]
away_goals

In [ ]:
home_goals, away_goals = match_details.split(",")[2:4]

In [ ]:
home_goals

In [ ]:
away_goals

In [ ]:
# So from that one line we can get out all the information it contains.
# Another useful method to apply to a string is replace.

match_details

In [ ]:
match_details.replace(",",":")

In [ ]:
match_details

In [ ]:
# Here, we replace all the commas with colons, again it can come in very handy if say, 
# for example, you want to change the separator in the string like we just did.
# There is another string method that looks on the face of it like a list method, namely join.

details = ['Manchester United', 'Arsenal', '2', '0']
details

In [ ]:
# Here, we apply the join method on the string containing just the comma and it then
# creates a string of the values in the list separated by the string that we applied the method on.
# This is a very useful method when it comes to creating strings from lists separated by a common value.

match_details = ",".join(details)
match_details

In [ ]:
# The last thing we shall consider is a Python builtin function that can be applied to strings and that is len. 
# We earlier saw it applied to lists to get the length of them and it does the same with regards to strings. 
# However now it tells us how many characters the string contains:

match_details = "Manchester United,Arsenal,2,0"
match_details

In [ ]:
len(match_details)